<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">Dashboard User</h1>
        <p class="text-center">List of Users</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center">User Table</h3>
    </div>
    <div class="col-lg-12 text-center p-4 m-4">
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <caption>
                        User Table
                    </caption>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date of Birth</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{#each user}}
                        <tr>
                            <td>#</td>
                            <td>{{this.name}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.dateOfBirth}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>